:root{
--darkblue: #070750;
--matContFont: 1em;    
}
.headingClass{
    color: var(--darkblue);
    text-align: center;
    text-transform: uppercase;
    text-shadow:  -7px 8px 4px rgba(26,79,55,0.52); 
    tab-size: 5;
}
.gridStyle{
    background-color: var(--darkblue) ;
    display: grid;
}
.head{
    background-color: blanchedalmond;    
}
.orderFormClass{
    display: inline;
    background-color: orangered;
    width: 19vw;
}
.InpClassNumber{
    color: orangered;
    background-color: peachpuff;
}
kartonInputs{
    color: chartreuse;
}
.centerFields{
    width: 95%;
    margin: 0.15em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}
.matsClass{
    background-color: darkorange;
    border: .25em solid brown;
    font-size: var(--matContFont);
    height: auto; 
    width: max-content;
    padding-left: 0.45em ;
    padding-right: 1em;
   }
span{
   color: blue; 
   padding-left:.11em;
   margin: 0.1em;    
}
.boxFill{
    background-color: palegreen;
    border: .25em solid brown;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    }
.matSpan{
    margin: .5vw;
    font-Size: calc(.89* var(--matContFont));
    font-weight: bold;
    text-transform: uppercase;
}
.paraBox{
    color: darkred;
    font-family: serif;
    margin: 0.25em; 
    padding: 0.11em;
}
.matchDecor{
    background-color: #3a760e; //green//
    height: calc(1.5* var(--matContFont));
    padding: 0.21em;
    font-size: var(--matContFont);
    text-align: center;     
}
.matchDecor:hover{
    background-color: blue;
}
.tetrisPlaying{
/*    position:relative;*/
    background-color: palegreen;
    height: auto;
    width: auto;
    border: .25em solid brown;
    padding: .81em;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.tetrisButt{
    color: black;
    font-size: calc(.97* var(--matContFont));
    position: absolute;
    right: 1em;
    padding: .25em;
}
.tetrisButt:before{
    content: '\58';
}
.canvaClass{
   background-color: antiquewhite; 
    opacity: 1.65;
    border: 1px solid black;
    cursor:grabbing;
    
/*    width: 400px;*/
/*    height: 400px; */
/*    display: block;*/
/*    position: relative;*/
/*    margin: 0;  */
/*    transition: transform  1s ease-in-out;*/
/*    transition: height 1s ease-in-out;*/
/*    z-index: 2;*/
/*    transform:  rotateX(80deg);    */
}
.canvaClass:hover{
    transform: rotateX(360deg);
/*    max-height: 800px!important;*/
}
.box{
    position: relative;
    margin: 0.45em;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.boxSides{
/*    display: flex;*/
    background-color: sienna;
    border: .1em solid black;
    text-align: center;
/*    justify-content: center;*/
/*    position: absolute;*/
/*    height: inherit;*/
/*    width: inherit;*/
    
    
}
.back{
  transform: translateZ(-120px);
   background-color: whitesmoke;      
}
.left{
   transform: translate(-106px,-120px) rotateY(91deg) ; 
   background-color: orange; 
}
.right{
   transform: translate(40px,-245px) rotateY(89deg);
   background-color: darkorange;
}
.front{
    
}
.down{
  background-color: mediumpurple; 
  transform:  rotateX(70deg) translateY(-700px) rotateZ(90deg);   
}