:root{
--darkblue: #070750;
--matContFont: 1em;    
}
.headingClass{
    color: var(--darkblue);
    text-align: center;
    text-transform: uppercase;
    text-shadow:  -7px 8px 4px rgba(26,79,55,0.52); 
    tab-size: 5;
}
.gridStyle{
    background-color: var(--darkblue) ;
    display: grid;
}
.head{
    background-color: blanchedalmond;    
}
.orderFormClass{
    display: inline;
    background-color: orangered;
    width: 19vw;
}
.InpClassNumber{
    color: orangered;
    background-color: peachpuff;
}
.centerFields{
    width: 95%;
    margin: 0.15em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}
.matsClass{
    background-color: darkorange;
    border: .25em solid brown;
    font-size: var(--matContFont);
    height: auto; 
    width: max-content;
    padding-left: 0.45em ;
    padding-right: 1em;
   }
span{
   color: blue; 
   padding-left:.11em;
   margin: 0.1em;    
}
.boxFill{
    background-color: palegreen;
    border: .25em solid brown;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: max-content;
    }
.matSpan{
    margin: .5vw;
    font-Size: calc(.89* var(--matContFont));
    font-weight: bold;
    text-transform: uppercase;
}
.paraBox{
    color: darkred;
    font-family: serif;
    margin: 0.25em; 
    padding: 0.11em;
    text-align: justify-all;
}
.matchDecor{
    background-color: #3a760e; //green//
    height: calc(1.5* var(--matContFont));
    padding: 0.21em;
    font-size: var(--matContFont);
    text-align: center;     
}
.matchDecor:hover{
    background-color: blue;
}
.tetrisPlaying{
    padding: .81em;
    position:relative;
    background-color: palegreen;
    height: inherit;
    width: 45%;
    border: .25em solid brown;
}
.tetrisButt{
    color: black;
    font-size: calc(.97* var(--matContFont));
    position: absolute;
    right: 1em;
    width: auto;
    height:auto;    
    padding: .25em;
}
.tetrisButt:before{
    content: '\58';
}
.boxSides{
    background-color: sienna;
    border: .1em solid black;
    
    
}