:root{
--darkblue: #070750;
--matContFont: 1em;    
}
.headingClass{
    color: var(--darkblue);
    text-align: center;
    text-transform: uppercase;
    text-shadow:  -7px 8px 4px rgba(26,79,55,0.52); 
    tab-size: 5;
}
.gridStyle{
    background-color: var(--darkblue) ;
    display: grid;
}
.head{
    background-color: blanchedalmond;    
}
.orderFormClass{
    display: inline;
    background-color: orangered;
    width: 19vw;
}
.InpClassNumber{
    color: orangered;
    background-color: peachpuff;
}
.centerFields{
    width: 80%;
    margin: 0.15em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    
}
.matsClass{
    background-color: darkorange;
    border: .25em solid brown;
    font-size: var(--matContFont);
    height: auto; 
    width: 40%; 
    
}
.boxFill{
    background-color: palegreen;
    border: .25em solid brown;
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 40%;
    }
.matSpan{
    margin: .5vw;
    font-Size: calc(.8* var(--matContFont));
    font-weight: bold;
    text-transform: uppercase;
}
.paraBox{
    color: darkred;
    font-family: serif;
    margin: 0.25em; 
    padding: 0.11em;
}
.matchDecor{
    background-color: #3a760e; //green//
    height: calc(1.5* var(--matContFont));
    padding: 0.21em;
    font-size: var(--matContFont);
}